@use '../../../styles/mixins' as *;

.loginComponent {
    display: grid;
    place-items: center;
    gap: var(--spacing-400);

    & form {
        display: grid;
        place-items: center;
        gap: var(--spacing-200);
    }

    &__loginBtn {
        margin-top: var(--spacing-400);
        padding: var(--spacing-100) var(--spacing-400);
        background-image: var(--gradient);
        border: none;
        box-shadow: var(--box-shadow-400);
        text-align: center;
        cursor: pointer;
    }

    &__googleBtn {
        padding: var(--spacing-100) var(--spacing-600);
        background-color: hsl(var(--background-color));
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--spacing-200);
        color: hsl(var(--text-color));
        border: none;
        cursor: pointer;

        & svg {
            height: 4rem;
            width: 4rem;
        }
    }
}