@use '../../styles/mixins' as *;

.imageUsePage {
    display: grid;
    gap: var(--spacing-600);

    & .header {
        text-align: center;

        & p {
            font-style: italic;
        }
    }

    & .bodyText {
        max-width: var(--width-body);
        // margin: 0 auto;
    }
}