@use '../../../../styles/mixins' as *;

.svgBackgroundContainer {
    position: absolute;
    width: 100%;
    height: 55%;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    pointer-events: none;

    @include breakpoint(tab) {
        height: 60%;
        transform: translate(30%, 40%)
    }
    
    @include breakpoint(laptop) {
        height: 100%;
        transform: translate(35%, 80%)
    }

    @include breakpoint(desktop) {
        transform: translate(40%, 85%)
    }
}