@use '../../../styles/mixins' as *;

.tagInputGroup {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);

  & .tagList{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-100);

    & .tagItem {
        display: flex;
        align-items: center;
        justify-content: space-bewteen;

        & p {
            padding: var(--spacing-100) var(--spacing-200);
            text-transform: capitalize;
            font-size: var(--fs-300);
            @include gradientBorder;
        }
    }
  }
}
