@use '../../../../styles/mixins' as *;

.aboutSection {
    margin-top: var(--spacing-900);
    
    &__content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-600);

        @include breakpoint(tab) {
            margin-top: var(--spacing-400);
            flex-direction: row;
            // gap: var(--spacing-800);
        }
    }


    & img {
        max-width: 12rem;
        max-height: 28rem;

        @include breakpoint(tab) {
            max-width: 16rem;
            max-height: 32rem;
            margin-left: var(--spacing-600);
        }

        @include breakpoint(laptop) {
            max-width: 18rem;
            max-height: 38rem;
            margin-left: var(--spacing-900);
        }
    }
}