@use '../../../../styles/mixins' as *;

.aboutSection {
    
    gap: var(--spacing-400);
    display: grid;
    place-content: center;

    
    &__content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-600);

        @include breakpoint(tab) {
            margin-top: var(--spacing-400);
            flex-direction: row;
            // gap: var(--spacing-800);
        }
    }


    & img {
        max-width: 11rem;
        max-height: 28rem;

        @include breakpoint(tab) {
            max-width: 15rem;
            max-height: 40rem;
            margin-left: var(--spacing-600);
        }

        @include breakpoint(laptop) {
            max-width: 16rem;
            max-height: 42rem;
            margin-left: var(--spacing-900);
        }
    }

    &__learnMore {
        
        margin: 0 auto;
        margin-top: var(--spacing-600);
       
    }
}