@use '../../../styles/mixins' as *;

.field {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-400);

  &__label {
    padding: var(--spacing-100) var(--spacing-200);
    border: 1px solid hsl(var(--secondary-color));
    box-shadow: var(--box-shadow-300);
    font-size: var(--fs-500);
    font-weight: 700;
  }

  & .textarea,
  & .fieldInput,
  & p {
    width: 100%;
    padding: var(--spacing-100) var(--spacing-200);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include gradientBorder;
}

& p {
      box-shadow: var(--box-shadow-300);

  }

  & .textarea,
  & .fieldInput {
    background-color: hsl(var(--background-color));
    outline: none;
    box-shadow: var(--box-shadow-500);
    color: hsl(var(--text-color));
    border: 1px solid hsl(var(--primary-color));
  }
  
}
