@use '../../../../../styles/mixins' as *;

.featureItem {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    justify-content: flex-start;
    align-items: center;

    &__title {
        grid-column: 2 / 3;
    }

    &__description {
        grid-column: 1 / 3;

        @include breakpoint(tab) {
            margin-top: -0.125rem;
            grid-column: 2 / 3;
        }
    }
}