@use '../../../styles/mixins' as *;

.galleryComponent {
    display: grid;
    place-items: center;
    gap: var(--spacing-900);

}

.gallerySection {
    position: relative;
    margin-bottom: var(--spacing-400);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-200);

    &::before {
        content: '';
        position: absolute;
        top: -1%;
        left: 0;
        width: 100%;
        height: 1px;
        background: var(--gradient);
    }
}