:root {
  --width-max: 96rem;
  --width-body: 50rem;
  
  --width-900: 27rem;
  --width-800: 24rem;
  --width-700: 21rem;
  --width-600: 18rem;
  --width-500: 15rem;
  --width-400: 12rem;
  --width-300: 9rem;
  --width-200: 6rem;
  --width-100: 3rem;

  --spacing-900: 4.5rem;
  --spacing-800: 4rem;
  --spacing-700: 3.5rem;
  --spacing-600: 3rem;
  --spacing-500: 2.5rem;
  --spacing-400: 2rem;
  --spacing-300: 1.5rem;
  --spacing-200: 1rem;
  --spacing-100: 0.5rem;
}
