@use './breakpoints' as *;

@mixin sectionLayout {
    width: calc(100% - var(--spacing-400));
    max-width: var(--width-max);
    margin: 0 auto;

    @include breakpoint(tab) {
        width: calc(100% - var(--spacing-500));
    }

    @include breakpoint(laptop) {
        width: calc(100% - var(--spacing-600));
    }

    @include breakpoint(desktop) {
        width: calc(100% - var(--spacing-800));
    }
}