@use '../mixins' as *;

.bottomRight {
  bottom: 0;
  right: 0;
  width: 30%;
  height: 30%;
  transform: translate(25%, 28%);

  @include breakpoint(tab) {
    transform: translate(35%, 28%)
  }

  @include breakpoint(laptop) {
    transform: translate(45%, 28%)
  }

  @include breakpoint(desktop) {
    transform: translate(45%, 60%)
  }
}
