/* components/pages/admin/admin-nav/AdminNav.module.scss */
@use '../../../../styles/mixins' as *;

.adminNav {
  width: var(--width-500);
  height: 100%;
  box-shadow: var(--box-shadow-400);
  background-color: hsl(var(--primary-color) / 0.2);
  background-image: linear-gradient(
    135deg,
    hsl(var(--background-color)) 50%,
    hsl(var(--secondary-color) / 0.1) 100%
  );
  transition: var(--transition-main);
  overflow: auto;
  @include gradientBorder;

  @include breakpoint(tab) {
    width: 100%;
  }

  &.opened {
    width: 10rem;
    padding: var(--spacing-400) var(--spacing-100);

    @include breakpoint(tab) {
      width: 100%;

      
    }

    & ul {
      & h3 {
        display: block;
      }
    }
  }

  &:not(.opened) {
    width: var(--spacing-900);

    @include breakpoint(tab) {
      width: 100%;
     
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .toggleButton {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    align-self: flex-end;
    margin: var(--spacing-100);

    @include breakpoint(tab) {
      display: none;
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-100);

    & h3 {
      display: none;

      @include breakpoint(tab) {
        display: block;
        padding-top: var(--spacing-400);
      }
    }

    li {
      padding: var(--spacing-200) var(--spacing-100);
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:not(.opened) .icon {
    margin-left: var(--spacing-100);
    width: 80%;
    height: 80%;

    @include breakpoint(tab) {
      margin-left: 0;
      width: 4rem;
      height: 4rem;
    }
  }

  .label {
    margin-left: var(--spacing-100);
  }

  &:not(.opened) .label {
    display: none;

    @include breakpoint(tab) {
      display: block;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
    }
  }
}
