@use '../../../../../../styles/mixins' as *;

.folderUpload {
  margin-top: var(--spacing-400);
  padding: var(--spacing-100) var(--spacing-200);
  border-radius: 8px;
  background-color: hsl(var(--background-color));
  display: grid;
  place-content: center;
  gap: var(--spacing-400);

  .gallerySelection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-200);

    @include breakpoint(tab) {
      flex-direction: row;
    }

    label {
      margin-right: 8px;
      font-weight: bold;
    }

    .gallerySelect {
      flex: 1;
      padding: var(--spacing-100);
      background-color: hsl(var(--background-color));
      color: hsl(var(--primary-color));
      cursor: pointer;
    }
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: hsl(var(--background-color) / 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

    .modalContent {
      padding: var(--spacing-600);
      background: hsl(var(--background-color));
      box-shadow: var(--box-shadow-400);
      display: grid;
      place-content: center;
      gap: var(--spacing-400);
      @include gradientBorder;

      .galleryNameInput,
      .passwordInput,
      .confirmPasswordInput {
        width: 100%;
        padding: var(--spacing-100);
        background-color: hsl(var(--background-color));
        color: hsl(var(--text-color));
        box-shadow: var(--box-shadow-300);
        @include gradientBorder;
      }

      .modalActions {
        display: flex;
        justify-content: flex-end;

        .cancelButton {
          padding: 8px 16px;
          border: none;
          background-color: hsl(var(--background-color));
          color: hsl(var(--text-color));
          border-radius: 4px;
          cursor: pointer;
          margin-left: 8px;
          transition: var(--transition-main);

          &:hover {
            background-color: hsl(var(--primary-color));
            color: hsl(var(--text-color));
          }
        }
      }
    }
  }

  .fileInput {
    margin-bottom: 12px;
  }

  .selectedFiles {
    margin-bottom: 12px;

    p {
      margin: 0 0 8px 0;
      font-weight: bold;
    }

    ul {
      list-style: disc inside;
      padding-left: 16px;

      li {
        margin-bottom: 4px;
      }
    }
  }

  .uploadButton {
    margin-top: 12px;
  }
}
