@use '../../styles/mixins' as *;

.sliderContainer {
  width: 100%;
  height: 100%; /* Adjust as needed */
  position: relative;
  z-index: 0;
  // background-color: hsl(var(--background-color));

  @include breakpoint(tab) {
    height: 600px;
  }

  @include breakpoint(desktop) {
    height: 700px;
  }

  &__canvas {
    width: 100%;
    height: 100%;
    background-color: hsl(var(--background-color));
    display: block;
  }

}
