@use '../../../styles/mixins' as *;

.portraitImage {
    max-height: 20rem;
    object-fit: cover;
    object-position: center;
    box-shadow: var(--box-shadow-400);

    @include breakpoint(tab) {
        max-height: 22rem;
    }
    @include breakpoint(laptop) {
        max-height: 30rem;
    }
}